body {
    background-color: #AEB3A9;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 120%;
}


.fa {
    padding: 0px;
    margin: 10px;
    font-size: 30px;
    
    

    text-align: center;
    text-decoration: none;
    color: black;
}

.fa:hover {
    margin: 0px;
    padding: 10px;
    opacity: 0.7;
    border-radius: 50%;
    background-color: black;
    color: #eeeeee;
    transition: 0.5s;
}



.links {
    /*padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 0px;
    background-color: #c6c7c5;
    width: 200px;
    margin: 20px;*/
    
    position: absolute;
    margin: 10px;
    opacity: 0;
    left: -100px;
}

.title {
    font-size: 250%;
    margin: 0px;
    font-weight: 400;
}

#header {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    vertical-align:middle;
}

/*.header {
    font-size: 125%;
    margin-top: 2px;
    margin-bottom: 4px;
    font-weight: 300;
    
}*/

.subtitle {
    font-size: 100%;
    color: #272727;
    margin: 0px;
    margin-left: 3px;
    font-weight: 300;
}

.profile_picture img {
    display: block;
    margin: 0px 0px 0px -3px;
    height:100%;
    width: auto;
    position: relative;
    
}

.profile_picture {
    position: relative;
    margin: 30px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 1px;
    transition: 1s;
}

.profile_picture:hover {
    border-radius: 2%;
    transition: 1s;
    cursor: pointer;
    width: 300px;
    height: 300px;
}


.profile_picture:hover .links {
    top: 50%;
    transform: translate(0,-50%);
    width: 1px;
    opacity: 1;
    left: 0px;
    transition: 0.9s ease ;
    
}

#content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.repo_list {
    padding: 0px;
    vertical-align: middle;
    margin: auto;
}

.repo_list li {
    list-style-type: none;
    padding: 3px;
    width: fit-content;
}

.repo_list a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    position: relative;
    
}

/*.item {
    display: flex;
    justify-content: center;
    min-width: 250px;
    min-height: 200px;
    max-width: 300px;
    max-height: 300px;
    background-color: #eeeeee;
    margin:10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 0px;   
}*/

#youtube_video {
    width: 420px;
    height: 315px;
}

.card {
    background-color: transparent;
    width: 420px;
    height: 315px;
    border-radius: 10px;
    
    perspective: 500px;
    margin: 10px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 2px 2px 3px 0px;   
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-back, .card-front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eeeeee;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
}

.card-back {
    transform: rotateY(180deg);
}

.card-front {
    text-align: center;
}

.card-title {
    font-size: 170%;
    margin: 0px;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
}

.underline {
    height: 2px;
    width: 0px;
    bottom: 0px;
    background-color: black;
}

.repo_list a:hover .underline {
    width: 100%;
    transition: 1s ease;
}